@model IEnumerable<UILAB.Models.vw_SalesInvoiceTR>
@using UILAB.Concrete
@{
    ViewBag.Title = "DetailJobList";
    Layout = null;
}

<div class="table-responsive">
    <table id="myTable2" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="text-align:center">
                    Invoice No
                </th>
                <th style="text-align:center">
                    Sub Total
                </th>
                <th style="text-align:center">
                    GST
                </th>
                <th style="text-align:center">
                    Total Amount
                </th>
                <th style="text-align:center">
                    Total Net Amount
                </th>
                <th style="text-align:center">
                    Status
                </th>
                <th style="text-align:center">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="font-size: small; text-align:center">
                        @Html.DisplayFor(modelItem => item.InvoiceNo)
                    </td>
                    <td style="font-size: small; text-align:right">
                        @Html.DisplayFor(modelItem => item.SubTotal)
                    </td>
                    <td style="font-size: small; text-align:right">
                        @Html.DisplayFor(modelItem => item.GST)
                    </td>
                    <td style="font-size: small; text-align:right">
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td style="font-size: small; text-align:right">
                        @Html.DisplayFor(modelItem => item.TotalNet)
                    </td>

                    @{
                        using (var db = new DatabaseContext())
                        {
                            var result = db.SalesInvoiceTRs.SingleOrDefault(b => b.InvoiceID == item.InvoiceID);

                            <td style="font-size: small; text-align:center">
                                @{
                                    if (result != null)
                                    {
                                        if (item.StatusID == 1)
                                        {
                                            <span class="label label-outline-success">@Html.Encode("Paid")</span>
                                        }
                                        if (item.StatusID == 2)
                                        {
                                            <span class="label label-outline-warning">@Html.Encode("Partial")</span>
                                        }
                                        if (item.StatusID == 3)
                                        {
                                            <span class="label label-outline-danger">@Html.Encode("UnPaid")</span>
                                        }
                                        if (item.StatusID == 4)
                                        {
                                            <span class="label label-outline-default">@Html.Encode("Withdrawn")</span>
                                        }
                                        if (item.StatusID == 5)
                                        {
                                            <span class="label label-outline-default">@Html.Encode("Credit")</span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="label label-outline-danger">@Html.Encode("Error")</span>
                                    }
                                }
                            </td>
                            <td style="text-align:right">
                                @Html.ActionLink("View", "Details", new { id = item.InvoiceID }, new { @class = "btn btn-xs btn-outline-info" })
                                @*@{
                                        if (result != null)
                                        {
                                            if (item.InvoiceStatus == "UnPaid")
                                            {
                                                @Html.ActionLink("Update Invoice", "UpdateInvoice", new { id = item.InvoiceID }, new { @class = "btn btn-xs btn-outline-warning" })
                                            }
                                            if (item.InvoiceStatus == "Partial")
                                            {
                                                @Html.ActionLink("Update Invoice", "UpdateInvoice", new { id = item.InvoiceID }, new { @class = "btn btn-xs btn-outline-warning" })
                                            }
                                            if (item.InvoiceStatus == "Paid")
                                            {
                                                <span style="margin-right:2px">@Html.ActionLink("Update", "UpdateInvoice", new { id = item.InvoiceID }, new { @class = "btn btn-xs btn-outline-warning" })</span>
                                                @Html.ActionLink("View", "ViewInvoice", new { id = item.InvoiceID }, new { @class = "btn btn-xs btn-info" })
                                            }
                                            if (item.InvoiceStatus == "Withdrawn")
                                            {
                                                <span style="margin-right:2px">@Html.ActionLink("Update", "UpdateInvoice", new { id = item.InvoiceID }, new { @class = "btn btn-xs btn-outline-warning" })</span>
                                                @Html.ActionLink("View", "ViewInvoice", new { id = item.InvoiceID }, new { @class = "btn btn-xs btn-info" })
                                            }
                                            if (item.InvoiceStatus == "Credit")
                                            {
                                                @Html.ActionLink("Settle Invoice", "UpdateInvoice", new { id = item.InvoiceID }, new { @class = "btn btn-xs btn-outline-warning" })
                                            }
                                        }
                                        else
                                        {
                                            <span class="hidden"></span>
                                        }
                                    }*@

                            </td>
                                    }
                    }
                </tr>
                                    }
        </tbody>
    </table>


</div>
<script>
    $(document).ready(function () {
        $('#myTable2').DataTable({ order: [[0, "desc"]] });
    });

</script>