@model IEnumerable<UILAB.Models.vw_EmployeeMaster>
@using UILAB.Concrete
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script type="text/javascript">
    // -------------------- Error Message --------------------
    $(document).ready(function () {
        if ('@TempData["Error"]' != "") {
            $("#errorMsg").show();
        }
        else {
            $("#errorMsg").hide();
        }
    });
    //--------------------------------------------------------

    // -------------------- Toaster --------------------
    var flag = "@TempData["Success"]";
    var flag2 = "@TempData["Deleted"]";
    var flag3 = "@TempData["Updated"]";

    if (flag == "Success") {
        toastr.success('Success!... Item Created')
    }

    if (flag2 == "Deleted") {
        toastr.error('Success!... Item Deleted')
    }

    if (flag3 == "Updated") {
        toastr.success('Success!... Item Updated')
    }
    //---------------------------------------------------

</script>
<div class="layout-content-body">
    <div class="title-bar">
        <div class="title-bar-actions">
            <a href="~/Admin/Dashboard">Dashboard</a> | Employees
        </div>
        <h5><span style="letter-spacing: 1px; font-weight: 700; text-transform: uppercase">Employees</span></h5>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    @Html.ActionLink("Add Employee", "Create", null, new { @class = "btn btn-sm btn-success" })
                    @Html.ActionLink("Bulk Upload", "CreateBulk", null, new { @class = "btn btn-sm btn-primary" })
                </div>
                <div class="card-body">

                    <div class="alert alert-danger" id="errorMsg">
                        <strong>Error!</strong> @TempData["Error"]
                    </div>

                    <div class="table-responsive">
                        <table id="myTable" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Emp ID
                                    </th>
                                    <th>
                                        Full Name
                                    </th>
                                    <th style="text-align:center">
                                        Designation
                                    </th>
                                    <th style="text-align:center">
                                        Email
                                    </th>
                                    <th style="text-align:center">
                                        Mobile
                                    </th>
                                    <th style="text-align:center">
                                        Address
                                    </th>
                                    <th style="text-align:center">
                                        Status
                                    </th>
                                    <th style="text-align:center">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="text-align:center">
                                            @{
                                                using (var db = new DatabaseContext())
                                                {
                                                    var online = db.SecurityActiveUser.SingleOrDefault(b => b.UserID == item.EmployeeNo && b.UserType == 3 && b.ConnectionAlive == true);

                                                    if (online != null)
                                                    {
                                                        <div class="bg-success circle sq-12"></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="bg-default circle sq-12"></div>
                                                    }
                                                }
                                            }
                                        </td>
                                        <td style="font-size: small">
                                            @Html.DisplayFor(modelItem => item.DocumentEmployeeNo)
                                        </td>
                                        <td style="font-size: small">
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td style="font-size: small">
                                            @Html.DisplayFor(modelItem => item.DesignationName)
                                        </td>
                                        <td style="font-size: small">
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td style="font-size: small">
                                            @Html.DisplayFor(modelItem => item.Mobile)
                                        </td>
                                        <td style="font-size: small">
                                            @Html.DisplayFor(modelItem => item.Address1), @Html.DisplayFor(modelItem => item.Address2),<br /> @Html.DisplayFor(modelItem => item.Address3)
                                        </td>
                                        <td style="text-align:center">
                                            @if (item.IsActive == true)
                                            {
                                                <span class="label label-outline-success">
                                                    @Html.Encode("Active")
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="label label-outline-danger">
                                                    @Html.Encode("Inactive")
                                                </span>
                                            }
                                        </td>
                                        <td style="text-align:right">
                                            @Html.ActionLink("View", "Detail", new { id = item.EmployeeNo }, new { @class = "btn btn-xs btn-outline-primary" })
                                            @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeNo }, new { @class = "btn btn-xs btn-outline-default" })
                                            @{
                                                if (item.Flagged == true)
                                                {
                                                    <span class="hidden"><a href="#" class="btn btn-xs btn-outline-danger" onclick="DeleteData(@item.EmployeeNo)">Delete </a></span>
                                                }
                                                else
                                                {
                                                    <a href="#" class="btn btn-xs btn-outline-danger" onclick="DeleteData(@item.EmployeeNo)">Delete </a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
            </div>

            <div class="modal-body">
                <p>You are about to delete one track, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" type="button" onclick="Delete()">Continue</button>
            </div>
        </div>
    </div>
</div>
@*hidden field for storing current employeeId*@
<input type="hidden" id="hiddenId" />
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    // ------------------- Delete Item -------------------
    var DeleteData = function (EmployeeId) {
        $("#hiddenId").val(EmployeeId);
        $("#myModal").modal('show');
    }

    var Delete = function () {
        var empId = $("#hiddenId").val();

        $.ajax({
            type: "POST",
            url: "/Employee/Delete",
            data: { Id: empId },
            success: function (result) {               
                    $("#myModal").modal("hide");
                    window.location.replace("List", "Employee");               
            }
        })
    }
    //--------------------------------------------------------
</script>



