@model IEnumerable<UILAB.Models.vw_JobTR>
@using UILAB.Concrete
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        if ('@TempData["Error"]' != "") {
            $("#errorMsg").show();
        }
        else {
            $("#errorMsg").hide();
        }
    });

    var flag = "@TempData["Success"]";
    var flag2 = "@TempData["Deleted"]";
    var flag3 = "@TempData["Updated"]";
    var flag4 = "@TempData["Canceled"]";

    if (flag == "Success") {
        toastr.success('Success!... Item Created')
    }

    if (flag2 == "Deleted") {
        toastr.error('Success!... Item Canceled')
    }

    if (flag3 == "Updated") {
        toastr.success('Success!... Item Updated')
    }
    if (flag4 == "Canceled") {
        toastr.warning('Canceled!... Job Canceled')
    }

</script>
<div class="layout-content-body">
    <div class="title-bar">
        <div class="title-bar-actions">
            <a href="~/Admin/Dashboard">Dashboard</a> | Jobs
        </div>
        <h5><span style="letter-spacing: 1px; font-weight: 700; text-transform: uppercase">Jobs</span></h5>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    @Html.ActionLink("Add Job", "Create", null, new { @class = "btn btn-sm btn-success" })
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center">
                                        Job ID
                                    </th>
                                    <th style="text-align:center">
                                        Plate No
                                    </th>
                                    <th style="text-align:center">
                                        Make & Model
                                    </th>
                                    <th style="text-align:center">
                                        Job Start Date
                                    </th>
                                    <th style="text-align:center">
                                        Job Finish Date
                                    </th>
                                    <th style="text-align:center">
                                        Job Status
                                    </th>
                                    <th style="text-align:center">
                                        Invoice No
                                    </th>
                                    <th style="text-align:center">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="font-size: small; text-align:center">
                                            @Html.DisplayFor(modelItem => item.JobTRID)
                                        </td>
                                        <td style="font-size: small">
                                            @Html.DisplayFor(modelItem => item.PlateNo)
                                        </td>
                                        <td style="font-size: small">
                                            @Html.DisplayFor(modelItem => item.Make) @Html.DisplayFor(modelItem => item.ModelName)
                                        </td>


                                        <td style="font-size: small; text-align:center">
                                            @if (Convert.ToDateTime(item.JobStartDate).ToString("yyyy-MM-dd") != "1900-01-01")
                                            {
                                                @Convert.ToDateTime(item.JobStartDate).ToString("dd-MM-yyyy")
                                            }
                                            else
                                            {
                                                <span style="color:firebrick">@Html.Encode("")</span>
                                            }
                                        </td>
                                        <td style="font-size: small; text-align:center">
                                            @if (Convert.ToDateTime(item.JobFinishDate).ToString("yyyy-MM-dd") != "1900-01-01")
                                            {
                                                @Convert.ToDateTime(item.JobFinishDate).ToString("dd-MM-yyyy")

                                            }
                                            else
                                            {
                                                <span style="color:firebrick">@Html.Encode("")</span>
                                            }
                                        </td>
                                        @{
                                            using (var db = new DatabaseContext())
                                            {
                                                var task = (from data in db.vw_JobTasksTRs where data.JobID == item.JobID select data).ToList();
                                                var employee = (from data in db.JobAssignEmpTRs where data.JobID == item.JobID select data).ToList();

                                                <td style="font-size: small; text-align:center">
                                                    @{
                                                        if (item.StatusName == "Completed")
                                                        {
                                                            <span class="label label-outline-success">@Html.Encode("Completed")</span>
                                                        }
                                                        else
                                                        {
                                                            if (task.Count > 0)
                                                            {
                                                                if (employee.Count == 0)
                                                                {
                                                                    <span class="label label-outline-danger">@Html.Encode("Assign Employee")</span>
                                                                }
                                                                else
                                                                {
                                                                    if (item.StatusName == "Pending")
                                                                    {
                                                                        <span class="label label-outline-warning">@Html.Encode("Pending")</span>
                                                                    }
                                                                    if (item.StatusName == "Started")
                                                                    {
                                                                        <span class="label label-outline-info">@Html.Encode("Started")</span>
                                                                    }
                                                                    if (item.StatusName == "On Hold")
                                                                    {
                                                                        <span class="label label-outline-warning">@Html.Encode("On Hold")</span>
                                                                    }
                                                                    if (item.StatusName == "Completed")
                                                                    {
                                                                        <span class="label label-outline-success">@Html.Encode("Completed")</span>
                                                                    }
                                                                    if (item.StatusName == "Canceled")
                                                                    {
                                                                        <span class="label label-outline-danger">@Html.Encode("Canceled")</span>
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (item.StatusName == "Canceled")
                                                                {
                                                                    <span class="label label-outline-danger">@Html.Encode("Canceled")</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="label label-outline-danger">@Html.Encode("Tasks Empty")</span>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </td>
                                                <td style="font-size: small; text-align:center">
                                                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.ActionLink("View Job", "Detail", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-info" })
                                                    @{
                                                        @*if (item.StatusName == "Completed")
                                                            {
                                                                if (item.JobTypeName == "Custom")
                                                                {
                                                                    @Html.ActionLink("Edit", "EditCustom", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-default" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-default" })
                                                                }
                                                            }*@

                                                    if (item.StatusName == "Caneceled")
                                                    {
                                                        <span class="hidden"></span>
                                                    }
                                                    }
                                                    @{
                                                        if (task.Count > 0)
                                                        {
                                                            if (employee.Count > 0)
                                                            {
                                                                if (item.StatusName == "Pending")
                                                                {
                                                                    @Html.ActionLink("Start Job", "StartJob", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-warning" })
                                                                    <a href="#"> </a>
                                                                    if (item.JobTypeName == "Custom")
                                                                    {
                                                                        @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-default" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-default" })
                                                                    }

                                                                    <a href="#" class="btn btn-xs btn-outline-danger" onclick="DeleteData(@item.JobID)">Cancel </a>
                                                                }
                                                                if (item.StatusName == "Started")
                                                                {
                                                                    @Html.ActionLink("Update Job", "UpdateJob", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-warning" })
                                                                    <a href="#"> </a>

                                                                    if (item.JobTypeName == "Custom")
                                                                    {
                                                                        @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-default" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-default" })
                                                                    }

                                                                    <a href="#" class="btn btn-xs btn-outline-danger" onclick="DeleteData(@item.JobID)">Cancel </a>
                                                                }
                                                                if (item.StatusName == "On Hold")
                                                                {
                                                                    @Html.ActionLink("Continue Job", "UpdateJob", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-warning" })
                                                                    <a href="#"> </a>

                                                                    if (item.JobTypeName == "Custom")
                                                                    {
                                                                        @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-default" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-default" })
                                                                    }

                                                                    <a href="#" class="btn btn-xs btn-outline-danger" onclick="DeleteData(@item.JobID)">Cancel </a>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (item.JobTypeName == "Custom")
                                                                {
                                                                    @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-default" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-default" })
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (item.JobTypeName == "Custom")
                                                            {
                                                                @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-default" })
                                                            }
                                                            else
                                                            {
                                                                @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, new { @class = "btn btn-xs btn-outline-default" })
                                                            }
                                                        }
                                                    }
                                                </td>
                                                        }
                                        }
                                    </tr>
                                                        }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Canel</h4>
            </div>

            <div class="modal-body">
                <p>You are about to cancel the job, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" type="button" onclick="Delete()">Continue</button>
            </div>
        </div>
    </div>
</div>
@*hidden field for storing current Id*@
<input type="hidden" id="hiddenId" />
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({ order: [[0, "desc"]] });
    });

    // ------------------- Delete Item -------------------
    var DeleteData = function (ResultId) {
        $("#hiddenId").val(ResultId);
        $("#myModal").modal('show');
    }

    var Delete = function () {
        var empId = $("#hiddenId").val();

        $.ajax({
            type: "POST",
            url: "/Job/Delete",
            data: { Id: empId },
            success: function (result) {
                $("#myModal").modal("hide");
                window.location.replace("List", "Job");
            }
        })
    }
    //--------------------------------------------------------
</script>